<html>
<head>
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="/javascript/jquery-3.1.1.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/d3.min.js"></script>
  <script src="/javascript/createjs.min.js"></script>
</head>
<body>
<script>
// Set the dimensions and margins of the diagram
var margin = {top: 20, right: 90, bottom: 30, left: 90};
var width = window.innerWidth - this.margin.left - this.margin.right;
var height = window.innerHeight - this.margin.top - this.margin.bottom;

var tree = d3.tree().size([height, width - 400]);

var svg = createViz();

function createViz() {
  return d3.select('body')
    .append('svg')
    .attr('width', this.width)
    .attr('height', this.height)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + (margin.top) + ")");
}

d3.json("kinoko_takenoko.json", function(error, data) {
  var root = d3.hierarchy(data);
  tree(root);
  var link = createLink();
  var node = createNode();
  var circle = createCircle();
  var text = createText();

  function createLink() {
    return svg.selectAll(".link")
    .data(root.descendants().slice(1))
    .enter().append("path")
    .attr("class", "link")
    .attr("d", function(d) {
      return "M" + d.y + "," + d.x
      + "C" + (d.y + d.parent.y) / 2 + "," + d.x
      + " " + (d.y + d.parent.y) / 2 + "," + d.parent.x
      + " " + d.parent.y + "," + d.parent.x;
    });
  }

  function createNode() {
    return svg.selectAll(".node")
      .data(root.descendants())
      .enter().append("g")
      .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
    }

  function createCircle() {
    return node.append("circle")
    .attr("r", 2.5);
  }

  function createText() {
    return node.append("text")
    .attr("dy", 3)
    .attr("x", function(d) { return d.children ? -8 : 8; })
    .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
    .text(function(d) { return d.data.name; });
  }
});
/*
var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d"),
    width = canvas.width,
    height = canvas.height;

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("miserables.json", function(error, graph) {
  if (error) throw error;

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  d3.select(canvas)
      .call(d3.drag()
          .container(canvas)
          .subject(dragsubject)
          .on("start", jumpTo));
//          .on("start", dragstarted)
//          .on("drag", dragged)
//          .on("end", dragended));

  function ticked() {
    context.clearRect(0, 0, width, height);

    context.beginPath();
    graph.links.forEach(drawLink);
    context.strokeStyle = "#999";
    context.stroke();

    context.beginPath();
    graph.nodes.forEach(drawNode);
    context.fill();
    context.strokeStyle = "#fff";
    context.stroke();
  }

  function dragsubject() {
    return simulation.find(d3.event.x, d3.event.y);
  }
});

function dragstarted() {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d3.event.subject.fx = d3.event.subject.x;
  d3.event.subject.fy = d3.event.subject.y;
}

function dragged() {
  d3.event.subject.fx = d3.event.x;
  d3.event.subject.fy = d3.event.y;
}

function dragended() {
  if (!d3.event.active) simulation.alphaTarget(0);
  d3.event.subject.fx = null;
  d3.event.subject.fy = null;
}

function drawLink(d) {
  context.moveTo(d.source.x, d.source.y);
  context.lineTo(d.target.x, d.target.y);
}

function drawNode(d) {
  var img = new Image();
  img.src = d.image;
  context.moveTo(d.x + 3, d.y);
  context.drawImage(img, d.x, d.y);
  //context.arc(d.x, d.y, 3, 0, 2 * Math.PI);
}

function jumpTo(){
  location.href = "/tree/play";
}
*/

</script>
</body>
</html>